.uppy-Dashboard-inner{
    background-color: $card-bg;
    border: 1px solid $border_2;
}
[data-uppy-drag-drop-supported=true] .uppy-Dashboard-AddFiles{
    border: 1px dashed $border_2;
}

.uppy-Dashboard-AddFiles-title{
    color: $dark;
}


// ---------------------

.selectr-options-container,
.selectr-selected{
  border-color: $border_2 !important;
  background-color: $input-bg;
}
.selectr-selected{
    padding: 5px 28px 5px 14px;
}
.selectr-tag-input{
  background-color: $input-bg;
}
.selectr-option.active,
.selectr-option.selected{
  background-color: $primary;
  color: $white;
}
.selectr-input{
  border-color: $border !important;
}
.watchlist .selectr-container{
    width: 150px !important;
}

.selectr-container.open .selectr-selected {
  border-color: $border_2 $border_2 transparent;
  border-radius: 3px 3px 0 0;
}
.selectr-option{
  padding: 4px 14px;
}
// .selectr-tag{
//   background: $primary;
//   border-radius: 3px;
// }

// .selectr-tag-remove::after, 
// .selectr-tag-remove::before{
//   width: 1px;
// }